@font-face {
  font-family: "xenofont";
  src: url("./4d57ebc3f0a4bb2e123f.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "xenofont", "Segoe UI", Tahoma;
  font-size: 1.5rem;
  color: white;
}

.icondescriprow {
  gap: 100px;
  margin-top: 1rem;
  padding-right: 1.5rem;
}
.icondescriprow > li {
  list-style: none;
  margin-top: 1rem;
}

.newproject {
  display: flex;
  gap: 1rem;
}

.newproject > input {
  border: 0;
  width: auto;
}

.hidden {
  display: none;
}

.projects {
  display: flex;
  flex-direction: column;
  font-family: "xenofont", "Segoe UI", Tahoma;
  font-size: 1.2rem;
  gap: 0.2rem;
  align-items: center;
}

.projectitem {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.alltasks {
  display: grid;
  font-size: 50px;
}
